/* =============  Importamos las fuentes =============*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/* =============  Menu - barra de bavegacion Natvar=============*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

/* =============  Quienes somos =============*/

.quienes {
    width: 90%;
}

/* =============  Destacados =============*/

 #imagenes-destacados {
    width: 180px;
    height: 250px;
    border: 2px solid green;
    padding: 2px;
 }

 p .subtitulo-destacados {
    font-weight:900;
 }
/* =============  Mapa =============*/

#local {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto {
    text-align: center;
    margin: 50px;
    width: 50%;
}

.wrapper {
        width: 90%;
        margin: auto;
    }


/* =============  seccion de iconos =============*/


.boton {
    text-align: center;
    padding: 20px;
}

/* ============= Media Queries para pantalla chica  =============*/



@media (max-width: 999px) {

    .texto {
        text-align: center;
        margin: 20px 10px 20px 10px;
        width: 100%;
    }
    

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

}

@media (max-width:768px) {
    #body-tarjeta {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

}


