/* =============  Importamos las fuentes =============*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/* =============  Menu - barra de bavegacion Natvar=============*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

/* =============  Fondo de tarjeta =============*/

/* ============= Media Queries para pantalla chica  =============*/

@media (max-width:768px) {
    #body-tarjeta {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}



